body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, #b1c1f7, #9f9e9e);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    color: black;
    min-height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 3rem 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 1000px;
    max-width: 100%;
    position: relative;
    margin-top: 50px;
}

h1 {
    text-align: center;
    /* color: #fff; */
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    height: 50px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    /* color: #fff; */
}

input[type="text"],
select {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    box-sizing: border-box;
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: #ff6b6b;
}

button {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #ff6b6b;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff4757;
}

form .form-group:last-child {
    margin-bottom: 0; /* Remove margin from the last field */
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 1rem;
    }

    input[type="text"],
    select {
        padding: 0.8rem;
    }
}
